@font-face {
  font-family: "Cafe24 PRO Slim Max";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24PROSlimMax/Cafe24PROSlim-Max.woff2") format("woff2"),
      url("https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24PROSlimMax/Cafe24PROSlim-Max.woff") format("woff"),
      url("https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24PROSlimMax/Cafe24PROSlim-Max.otf") format("opentype"),
      url("https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24PROSlimMax/Cafe24PROSlim-Max.ttf") format("truetype");
}